<form method="post" actoin="/">
	<p>名前 : <input type="text" name="name" value="<%= name %>" /></p>
	<p>
		コメント:<br />
		<textarea name="comment" rows="10" cols="50"><%= comment %></textarea>
	</p>
	<p><input type="submit" name="send" value="送信" /></p>
</form>